<div class="mb-4">
  <%= f.label :nickname, 'ニックネーム', class: 'block text-brown font-semibold mb-2' do %>
    ニックネーム
    <span class="text-red-500 ml-1">*</span>
  <% end %>
  <%= f.text_field :nickname, class: 'border border-gray-300 rounded-lg w-full p-3 focus:outline-none focus:ring-2 focus:ring-teal-300' %>
</div>

<div class="mb-4">
  <%= f.label :avatar, 'プロフィール画像', class: 'block text-brown font-semibold mb-2' %>
  <%= f.file_field :avatar, accept: "image/*", class: 'file-input file-input-bordered w-full' %>
</div>

<div class="mb-4">
  <%= f.label :mbti, 'MBTI', class: 'block text-brown font-semibold mb-2' %>

  <%= f.select :mbti, (@mbti_options || []).to_a, { include_blank: false },
    { class: 'mb-4 select border border-gray-300 rounded-lg w-full p-3 focus:outline-none focus:ring-2 focus:ring-teal-300 bg-white' }
  %>
</div>

<div class="mb-4">
  <%= f.label :address, '居住地', class: 'block text-brown font-semibold mb-2' %>
  <%= f.text_field :address, class: 'border border-gray-300 rounded-lg w-full p-3 focus:outline-none focus:ring-2 focus:ring-teal-300' %>
</div>

<div class="mb-4">
  <%= f.label :introduction, '自己紹介', class: 'block text-brown font-semibold mb-2' do %>
    自己紹介
    <span class="text-red-500 ml-1">*</span>
  <% end %>
  <%= f.text_area :introduction, class: 'border border-gray-300 rounded-lg w-full p-3 h-32 focus:outline-none focus:ring-2 focus:ring-teal-300' %>
</div>

<div class="mb-4">
  <%= f.label :x_link, 'X URL', class: 'block text-brown font-semibold mb-2' %>
  <%= f.text_field :x_link, class: 'border border-gray-300 rounded-lg w-full p-3 focus:outline-none focus:ring-2 focus:ring-teal-300' %>
</div>

<div class="mb-4">
  <%= f.label :instagram_link, 'Instagram URL', class: 'block text-brown font-semibold mb-2' %>
  <%= f.text_field :instagram_link, class: 'border border-gray-300 rounded-lg w-full p-3 focus:outline-none focus:ring-2 focus:ring-teal-300' %>
</div>

<div class="flex justify-center">
  <%= f.submit '保存', class: 'btn w-full sm:w-auto bg-teal text-white font-bold mt-8 py-2 px-6 rounded-lg shadow-lg hover:bg-teal-600 focus:outline-none transition' %>
</div>