<% content_for(:title, t('.sign_up')) %>
<div class="flex items-center justify-center min-h-screen bg-cream">
  <div class="w-full max-w-md p-6 bg-white rounded-lg mt-[-8rem] border border-brown">
    <h2 class="text-2xl text-brown font-bold text-center mb-2"><%= t('.sign_up') %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "space-y-4" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-4">
        <%= f.label :email, class: "block text-gray-700 font-bold" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full px-3 py-2 bg-cream border border-gray-300 rounded-md shadow-sm focus:outline-none sm:text-sm" %>
      </div>

      <div class="mb-4">
        <%= f.label :password, class: "block text-gray-700 font-bold" %>
        <% if @minimum_password_length %>
          <small class="text-sm text-gray-500"><%= t('devise.shared.minimum_password_length', count: 6)  %></small>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "mt-1 block w-full px-3 py-2 bg-cream border border-gray-300 rounded-md shadow-sm focus:outline-none sm:text-sm" %>
      </div>

      <div class="mb-4">
        <%= f.label :password_confirmation, class: "block text-gray-700 font-bold" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 block w-full px-3 py-2 bg-cream border border-gray-300 rounded-md shadow-sm focus:outline-none sm:text-sm" %>
      </div>

      <div>
        <%= f.submit t('helpers.submit.create'), class: "btn bg-teal text-white w-full text-lg" %>
      </div>
    <% end %>
    <div class="flex items-center justify-center">
    <%= render "devise/shared/links", class: "text-center" %>
    </div>
  </div>
</div>
