 <div class="bg-teal">
    <footer class="flex justify-between items-start p-4 mx-8">
  <div class="flex flex-col space-y-4">
    <%= link_to image_tag('logo.png', class: 'h-16 hover:opacity-70'), root_path %>

    <div class="flex space-x-4">
      <%= link_to 'お問い合わせ', contact_path, class: 'text-brown font-bold hover:opacity-70' %>
      <%= link_to '利用規約', terms_of_service_path, class: 'text-brown font-bold hover:opacity-70' %>
      <%= link_to 'プライバシーポリシー', privacy_policy_path, class: 'text-brown font-bold hover:opacity-70' %>
    </div>
  </div>

  <div class="flex space-x-4 items-start">
    <%= link_to '<i class="fa-brands fa-x-twitter"></i>'.html_safe, 'https://x.com/m_0130k', target: '_blank', rel: 'noopener noreferrer', class: 'text-brown text-3xl font-bold hover:opacity-70' %>
  </div>
</footer>
</div>