<div class="mb-4">
   <%= f.label :cafe_name, class: 'block text-brown font-semibold mb-2' do %>
      カフェ名 <span class="text-red-500 ml-1">*</span>
    <% end %>
    <%= f.text_field :cafe_name, id: 'cafe_name', class: 'border border-gray-200 rounded-lg w-full p-2', autocomplete: 'off' %>
</div>

<div class="mb-4">
<%= f.label :address, class: 'block text-brown font-semibold mb-2' do %>
  住所 <span class="text-red-500 ml-1">*</span>
<% end %>
<%= f.text_field :address, id: 'address', class: 'border border-gray-200 rounded-lg w-full p-2' %>
</div>

<div class="mb-4">
  <%= f.label :body, 'コメント', class: 'block text-brown font-semibold mb-2' do %>
    コメント
    <span class="text-red-500 ml-1">*</span>
  <% end %>
  <%= f.text_area :body, placeholder:'10文字以上', class: 'border border-gray-200 rounded-lg w-full p-2 h-32' %>
</div>

<div class="divider"></div>

<div class="mb-4">
  <%= f.label :image, 'アップロード画像', class: 'block text-brown bg-cream font-semibold mb-2' %>
  <%= f.file_field :image, accept: "image/*", class: 'file-input file-input-bordered w-full' %>
</div>

<div class="mb-4">
  <%= f.label :cafe_link, 'URL', class: 'block text-brown font-semibold mb-2' %>
  <%= f.text_field :cafe_link, class: 'border border-gray-200 rounded-lg w-full p-2' %>
</div>

<div class="mb-4">
  <%= f.label :タグ, class: 'block text-brown font-semibold mb-2' %>
  <% @tags.each do |tag| %>
    <div class="flex items-center space-x-2 mb-1 mr-1">
      <%= check_box_tag "post[tag_ids][]", tag.id, @post.tags.include?(tag), class: "checkbox border-brown [--chkbg:theme(colors.brown)] [--chkfg:white] checked:border-white" %>
      <div class="ml-2">
        <%= tag.name %>
      </div>
    </div>
  <% end %>
</div>

<div class="flex justify-center">
  <%= f.submit '投稿する', class: 'mt-4 btn w-40 bg-teal text-white' %>
</div>

<script>
  function initAutocomplete() {
    var input = document.getElementById('cafe_name');
    var autocomplete = new google.maps.places.Autocomplete(input, { types: ['establishment'] });


    input.setAttribute('placeholder', 'カフェを入力すると住所が自動入力されます');

    autocomplete.addListener('place_changed', function() {
      var place = autocomplete.getPlace();
      if (!place.geometry) {
        return;
      }

      document.getElementById('cafe_name').value = place.name || '';
      document.getElementById('address').value = place.formatted_address || '';
    });
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&libraries=places&callback=initAutocomplete"></script>
