<% content_for(:title, t('.title')) %>
<div class="bg-cream">
  <div class="container mx-auto pt-10">
    <%= link_to new_post_path, class: 'flex items-center' do %>
      <i class="fa fa-plus text-brown text-2xl"></i>
      <span class="text-brown text-xl font-bold ml-2">投稿する</span>
    <% end %>
    <%= search_form_for @q, url: posts_path, method: :get, class: 'd-flex relative' do |f| %>
      <%= f.search_field :cafe_name_cont, id: "search-input", class: "form-control me-2", placeholder: "カフェ名を入力", autocomplete: "off" %>
      <button class="btn btn-outline-success" type="submit">検索</button>
    <% end %>

    <ul id="autocomplete-results" class="absolute mt-1 max-h-60 overflow-y-auto bg-white shadow-lg rounded border w-full hidden">
    </ul>
  <script src="/assets/autocomplete.js"></script>


    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 pt-8 pb-8">
      <% @posts.each do |post| %>
          <%= render 'commons/post', post: post %>
      <% end %>
    </div>

  </div>
  <%= link_to new_post_path do %>
    <div class="bg-teal border-4 border-white p-4 rounded-full shadow-lg fixed bottom-2 right-2 flex items-center justify-center w-16 h-16">
      <i class="fa fa-plus text-white text-2xl"></i>
    </div>
  <% end %>
</div>
