<% content_for(:title, t('.title')) %>
<body class="bg-cream h-screen">
  <div class="container mx-auto mt-8 mb-12 lg:px-32 py-6">
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li class="bg-teal mb-6 rounded-lg p-4 text-brown"><%= message %></li>
      <% end %>
    </ul>

    <%= form_with(model: @post, url: posts_path, method: 'post', local: true) do |f| %>

      <div class="mb-4">
        <%= f.label :cafe_name, 'カフェ名', class: 'block text-brown font-semibold mb-2' do %>
          カフェ名
          <span class="text-red-500 ml-1">*</span>
        <% end %>
        <%= f.text_field :cafe_name, class: 'border border-gray-200 rounded-lg w-full p-2' %>
      </div>

      <div class="mb-4">
        <%= f.label :body, '内容', class: 'block text-brown font-semibold mb-2' do %>
          内容
          <span class="text-red-500 ml-1">*</span>
        <% end %>
        <%= f.text_area :body, class: 'border border-gray-200 rounded-lg w-full p-2 h-32' %>
      </div>

      <div class="mb-4">
        <%= f.label :image, 'アップロード画像', class: 'block text-brown bg-cream font-semibold mb-2' %>
        <%= f.file_field :image, accept: "image/*", class: 'file-input file-input-bordered w-full' %>
      </div>

      <div class="mb-4">
        <%= f.label :address, '住所', class: 'block text-brown font-semibold mb-2' do %>
          住所
          <span class="text-red-500 ml-1">*</span>
        <% end %>
        <%= f.text_field :address, class: 'border border-gray-200 rounded-lg w-full p-2' %>
      </div>

      <div class="mb-4">
        <%= f.label :cafe_link, 'URL', class: 'block text-brown font-semibold mb-2' %>
        <%= f.text_field :cafe_link, class: 'border border-gray-200 rounded-lg w-full p-2' %>
      </div>

      <div class="mb-4">
        <%= f.label :タグ, class: 'block text-brown font-semibold mb-2' %>
        <% @tags.each do |tag| %>
          <div class="flex items-center space-x-2 mb-1 mr-1">
            <%= check_box_tag "post[tag_ids][]", tag.id, @post.tags.include?(tag), class: "checkbox border-brown [--chkbg:theme(colors.brown)] [--chkfg:white] checked:border-white" %>
            <div class="ml-2">
              <%= tag.name %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="flex justify-center">
        <%= f.submit '投稿する', class: 'mt-4 btn w-40 bg-teal text-white' %>
      </div>
    <% end %>
  </div>
</body>
