<body class="bg-cream">
  <div class="container mx-auto px-20 py-16 my-8 bg-white rounded-xl">
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-2xl font-bold text-brown"><%= @post.cafe_name %></h1>
      <div class="flex items-center">
        <% if current_user&.mine?(@post) %>
          <%= link_to image_tag('edit.png', class: 'w-6 h-6 mr-2 cursor-pointer'), edit_post_path(@post) %>
          <%= link_to image_tag('destroy.png', class: 'w-6 h-6 cursor-pointer'), post_path(@post), data: { turbo_method: :delete, turbo_confirm: '削除しますか？' } %>
        <% else %>
          <%= render 'bookmark_buttons', { post: @post } %>
        <% end %>
      </div>
    </div>

    <div class="flex items-center">
      <%= image_tag @post.user.avatar_image, class: 'w-8 h-8 rounded-full mr-2' %>
      <p class="text-gray-700 font-bold"><%= @post.user.profile&.nickname || @post.user.display_name %></p>
    </div>

    <p class="text-gray-500 text-14 mb-2"><%= @post.created_at.strftime("%Y/%m/%d %H:%M") %></p>
    <p class="text-gray-700 mb-8"><%= @post.body %></p>

    <% if @post.image.attached? %>
      <%= image_tag @post.image, class: 'w-96 h-auto mb-8' %>
    <% end %>

    <div class="flex items-center mb-2">
      <%= image_tag 'address.png', class: 'w-6 h-6 mr-2' %>
      <p class="text-gray-700"><%= @post.address %></p>
    </div>

    <div class="flex items-center mb-8">
      <%= image_tag 'link.png', class: 'w-6 h-6 mr-2' %>
      <p class="text-gray-700"><%= link_to @post.cafe_link, @post.cafe_link, target: "_blank", rel: "noopener noreferrer" %></p>
    </div>

    <%= link_to do %>
      <div class="bg-teal border-4 border-white p-4 rounded-full shadow-lg fixed bottom-2 right-2 flex items-center justify-center w-16 h-16">
        <i class="fa fa-plus text-white text-2xl"></i>
      </div>
    <% end %>

    <%= link_to new_post_comment_path(@post) do %>
      <div class="flex items-center mb-8">
        <%= image_tag 'comment.png', alt: 'コメントアイコン', class: 'w-6 h-6 mr-2' %>
        <div class="text-gray-700 font-bold">コメントを追加する</div>
      </div>
    <% end %>

    <div class="text-brown">
    <% prepare_meta_tags @post %>
   <% twitter_share_url = "https://twitter.com/share?url=#{CGI.escape("Mycafeを投稿したよ！-#{@post.cafe_name}")}" %>

    <%= link_to twitter_share_url, target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
    <div class="flex items-center mb-8">
    <i class="fa-brands fa-x-twitter fa-xl mr-2"></i>
    <div class="text-gray-700 font-bold">Xに共有する</div>
    </div>
    <% end %>
</div>

    <div class="bg-cream p-2 rounded-xl">
      <h2 class="text-brown text-20 font-bold p-2">コメント一覧</h2>
      <% @comments.each do |comment| %>
        <div class="flex items-center text-gray-600 bg-white px-16 py-4 m-4 rounded-xl">
          <p class="flex-1"><%= comment.content %></p>
          <span class="text-gray-500 text-14 ml-12 mr-2">
            <%= comment.user.profile&.nickname || comment.user.display_name %>
          </span>
          <% if current_user == comment.user %>
            <div class="ml-4 flex items-center space-x-2">
              <%= link_to image_tag('edit.png', alt: 'Edit', class: 'w-4 h-4'), edit_post_comment_path(@post, comment), class: 'btn' %>
              <%= button_to image_tag("destroy.png", alt: "削除", class: 'w-4 h-4 mt-1'), post_comment_path(comment.post.id, comment.id), method: :delete %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</body>
