<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <%= display_meta_tags %>

    <link rel="manifest" href="/manifest.json">
    <%= favicon_link_tag('favicon.ico') %>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/d01e4a84b1.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>

  <div class="bg-teal">
  <header class="flex justify-between items-center p-4 mx-8">
    <div>
      <%= link_to image_tag('logo.png', class: 'h-16'), root_path %>
    </div>
    <div class="flex space-x-4">
      <% if user_signed_in? %>
        <div class="flex items-center space-x-4">
          <%= link_to image_tag(
            (current_user.profile&.avatar&.persisted? && current_user.profile.avatar.attached?) ?
            url_for(current_user.profile.avatar) : 'profile.png',
            class: 'w-12 h-12 rounded-full border-2 shadow-sm'
          ), profile_path %>
          </div>
          <%= link_to image_tag('bookmark.png', class: 'h-11 mt-1'), bookmarks_posts_path %>
          <%= link_to image_tag('diagnose.png', class: 'h-12'), '#' %>
          <%= link_to image_tag('logout.png', class: 'h-12'), destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>

          <% else %>
          <%= link_to image_tag('login.png', class: 'h-12'), new_user_session_path %>
	     <% end %>
    </div>
  </header>
</div>
  <body>
  <% flash.each do |message_type, message| %>
  <div class="<%= flash_background_color(message_type) %> px-6 py-4 rounded-md text-brown">
    <%= message %>
  </div>
<% end %>
    <%= yield %>
  </body>
    <footer class="bg-teal p-4 ">
      <div class="container mx-auto flex justify-between items-start">

        <div class="flex flex-col space-y-4">
          <%= link_to image_tag('logo.png', class: 'h-10'), root_path %>

          <div class="flex space-x-4">
            <%= link_to 'お問い合わせ', contact_path, class: 'text-brown font-bold' %>
            <%= link_to '利用規約', terms_of_service_path, class: 'text-brown font-bold' %>
            <%= link_to 'プライバシーポリシー', privacy_policy_path, class: 'text-brown font-bold' %>
          </div>
        </div>

        <div class="flex space-x-4 items-start">
          <%= link_to '<i class="fa-brands fa-x-twitter"></i>'.html_safe, 'https://x.com/m_0130k', target: '_blank', rel: 'noopener noreferrer', class: 'text-brown text-3xl font-bold' %>
          <%= link_to '<i class="fa-brands fa-instagram"></i>'.html_safe, 'https://www.instagram.com/maaaayu__0527/?igsh=b2g4ejUyYXpmM3d5&utm_source=qr', target: '_blank', rel: 'noopener noreferrer', class: 'text-brown text-3xl font-bold' %>
        </div>
      </div>
    </footer>


</html>