<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <%= display_meta_tags %>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RT8N9X34Z1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-RT8N9X34Z1');
    </script>

    <link rel="manifest" href="/manifest.json">
    <%= favicon_link_tag('favicon.ico') %>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;900&display=swap", rel: "stylesheet", media: "all" %>


    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/d01e4a84b1.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>

    <div class="font-cafe">
      <%= render 'shared/header'%>
      <%= render 'shared/flash' %>
        <div class="bg-cream">
          <div class="mx-8">
            <%= yield %>
          </div>
      </div>
      <%= render 'shared/footer' %>
    </div>
</html>