<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/d01e4a84b1.js" crossorigin="anonymous"></script>
  </head>

  <div class="bg-teal">
  <header class="flex justify-between items-center p-4 mx-8">
    <div>
      <%= link_to image_tag('logo.png', class: 'h-12'), root_path %>
    </div>
    <div class="flex space-x-4">
      <% if user_signed_in? %>
        <%= image_tag 'default-image.png', class: 'h-10 rounded-full' %>
        <%= link_to image_tag('profile.png', class: 'h-10'), '#' %>
        <%= link_to image_tag('bookmark.png', class: 'h-10'), '#' %>
        <%= link_to image_tag('diagnose.png', class: 'h-10'), '#' %>
        <%= link_to image_tag('logout.png', class: 'h-10'), destroy_user_session_path,data: { turbo_method: :delete } %>
        <% else %>
	       <%= link_to image_tag('login.png', class: 'h-10'), new_user_session_path %>
	     <% end %>
    </div>
  </header>
</div>

  <body>
    <%= yield %>
  </body>
    <footer class="bg-teal p-4 ">
      <div class="container mx-auto flex justify-between items-start">

        <div class="flex flex-col space-y-4">
          <%= link_to image_tag('logo.png', class: 'h-8'), root_path %>

          <div class="flex space-x-4">
            <%= link_to 'お問い合わせ', '#', class: 'text-brown text-14 font-bold' %>
            <%= link_to '利用規約', '#', class: 'text-brown text-14 font-bold' %>
            <%= link_to 'プライバシーポリシー', '#', class: 'text-brown text-14 font-bold' %>
          </div>
        </div>

        <div class="flex space-x-4 items-start">
          <%= link_to '<i class="fa-brands fa-x-twitter"></i>'.html_safe, '#', target: '_blank', rel: 'noopener noreferrer', class: 'text-brown text-2xl font-bold' %>
          <%= link_to '<i class="fa-brands fa-instagram"></i>'.html_safe, '#', target: '_blank', rel: 'noopener noreferrer', class: 'text-brown text-2xl font-bold' %>
        </div>
      </div>
    </footer>
</html>
